.grid-item {
	border:5px solid black;
	background-color: #000069;
	text-align: center;
	font-size: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-item > p {
	background-color: #000069;
}

.grid-item > a {
	padding-top: 1vw;
	padding-bottom: 1vw;
	display: block;
	background-color: #000069;
	text-decoration: none;
}

.grid-container {
	margin-left: 20vw;
	margin-right: 20vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	row-gap: 1vw;
	column-gap: 1vw;
}