@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.content div {
	display: block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
}

.content {
	display: block;
	text-shadow: 0.1em 0.1em #000000;
	background-color: #000069;
	text-align: left;
	width: 100%;
	font-size: min(4vw, 30px);
}
