@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.input {
	padding: 1vw;
	text-align: center;
}

.checkbox-container {
	display: block;
	padding: 1vw;
	text-align: left;
	font-size: 1vw;
}

.checkbox-sub-container {
	display: inline-block;
	padding-left: 1vw;
	text-align: left;
}

.checkbox {
	display: none;
}

.checkbox:not(:checked) + label {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: 2px;
}

.grid-container {
	margin-left: 20vw;
	margin-right: 20vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.roll-button-div {
	display: block;
	text-align: center;
}

.roll-button {
	font-size: 3vw;
	background-color: #000069;
}